.about-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-section1, .about-section2{
    display: flex;
    justify-content: space-around;
    padding: 6rem 2rem;

    align-items: center;
    /* border: 1px red solid; */
    column-gap: 5rem;
    background-color: #ace3f7;
    min-height: 100vh;
    box-sizing: border-box;
}


.about-section2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    /* border: 1px red solid; */
    background-color: whitesmoke;
}

.about-content{
    /* border: 1px red solid; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: xx-large;
}

.about-heading{
    font-family: "Merriweather";
    font-weight: bolder;
    /* font-size: xx-large; */
    min-height: auto;
    text-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);

}

.about-subcontent{
    font-family: 'montserrat';
    font-size: medium;
    font-weight: 500;
}

.about-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


@media (max-width: 700px) {
    .about-section1, .about-section2{
        flex-direction: column;
    }

    .about-heading{
        font-weight: bold;
        font-size: x-large;
    }

    .about-subcontent{
        font-weight: 400;
        font-size: 100;
    }
}