
.services-section{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d6f1fb;
    
}

.services-cards-container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 1rem 6rem;
    
}

.card-container{
    position: relative;
    display: flex;
    width: 20rem;
    height: 25rem;
    margin: auto;
    perspective: 1000px;
    cursor: pointer;
    /* border: 1px red solid; */
}



.card-inner-content{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}

.card-container:hover .card-inner-content{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.5s ease-in-out;

}

.flip-card-front{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    box-sizing: border-box;
    padding: 1rem;
}

.flip-card-back{
    background-color: whitesmoke;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.flip-card-back .card-content{
    font-family: 'montserrat';
    font-size: medium;
    font-weight: 500;
}



.card-heading{
    /* border: 1px black solid; */
    font-size: 1.4rem;
    color: #205866;
    font-weight: bold;
    font-family: 'Merriweather';
}
.card-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #204848;
    padding : 2rem;
}

.services-heading-container{
    font-size: x-large;
    font-weight: bolder;
}

.services-heading{
    font-weight: bolder;
    /* font-size: xx-large; */
    font-family: "Merriweather";
}

@media screen and (max-width: 1024px) {
    .card-container{
        width: 16rem;
        height: 19rem;
        border: 1px red solid;
    }



    .card-heading{
        font-size: 1rem;
    }

    .flip-card-back .card-content{
        font-weight: 600;
        font-size: small;
        box-shadow: none;
    }
}

@media screen and (max-width: 700px) {
    .card-container{
        width: 13rem;
        height: 16rem;
    }
    .card-container:hover .card-inner-content{
        transform: rotateY(0deg);
    }  
    .card-container.flipped .card-inner-content {
        transform: rotateY(180deg);
      }

    .card-heading{
        font-size: 0.9rem;
    }

    .flip-card-back .card-content{
        font-size:small;
    }
}