.notfound-section{
 background-color: #3d65af;
 padding: 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
 
}

.notfound-section .notfound-img{
    width: 80%;
    height: 80vh;
}

.home-btn{
    padding: 1rem 1.5rem;
    border-radius: 20px;
    width: auto;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #15bae3;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-btn:hover{
    transform: scale(1.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

